<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tobias S. Wegner</title>

    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo:300,400,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'>

    <!-- latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link href="../css/index.css" rel="stylesheet">

    <!-- jQuery is required for Bootstrap to work -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link href="../css/sticky-footer.css" rel="stylesheet">

    <!--jQuery Media Script-->
    <script src="../js/jquery.media.js" type="text/javascript"></script>

    <script src="../js/scripts.js"></script>
  </head>
  <body>
    <header>
      <!--
      ============================== Navigation Bar ===============================
      -->
      <nav>
        <div class="navbar navbar-inverse navbar-static-top" id="navbar" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" 
              data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
            </div>
              <div class="twLogo">
                <a class="navbar-brand" href="#">
                  <img alt="Brand" src="../img/tw_logo1.jpg">
                </a>
              </div>

              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/work.html">Work</a></li>
                  <li><a href="/blog.html">Blog</a></li>
                  <li><a href="/contact.html">Contact</a></li>
                </ul>
              </div> <!-- navbar-collapse -->
          </div> <!-- /continer-fluid -->
        </div> <!-- /navbar -->
      </nav>
    </header>
    <div class="main">
      
    </div>
    <footer>
      <div class="container">
        <p class="text-muted">&copy; Tobias S. Wegner</p>        
      </div>
    </footer>
  </body>
</html>